@use 'src/globalStyles/colors.scss' as colors;

* {
  box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: colors.$primary;
  background-color: colors.$background;
}

